<header class="site-header">
    <head>
    <style>
    .nav {
      background-color: greenyellow; 
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    
    .nav li {
      display: inline-block;
      font-size: 20px;
      padding: 20px;
    }
    </style>
    </head>

  <div id="header">
    <nav>
      <ul class="nav">
        <li class="fork">
          <a href="{{site.baseurl}}/">Home</a>
        </li>
        
        <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
        <li class="fork"><a href="{{site.baseurl}}/game">Game</a></li>
        <li class="fork"><a href="{{site.baseurl}}/calculator">Calculator</a></li>
        <li class="fork"><a href="{{site.baseurl}}/lbbook">Lab Notebook</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>